

h1{
    background-color: white;
    text-align: center;
    font-weight: normal;
    font-family:"Courier New";
     border: solid 2px #edd3d4;
    margin-top: 2%;
   
}

.topnav {
  margin-left: 10px;
    text-align: center;

}

.topnav a {
border: solid 1.5px  #edd3d4;
    font-family: monospace;
    font-size: 1em;
    border-radius:12px;
    position:relative;
    padding: 5px;
}

.topnav a:hover {
  border: none;
  background-color: #f9a2a2;
  color: white;
  box-shadow: 0px 0px 1px #777;
  background-size: 20px 20px;
  cursor:pointer;
}

.topnav .active{
    background-color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.filterDiv {
  display: none;
}

.show {
  display: block;
}


/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
}

.btn:hover {
  background-color: #ddd;
}

a:link {
    text-decoration: none;
    color: black;
    
}

a:visited {
    text-decoration: none;
    color: black;
}


a:active {
    text-decoration: none;
    color: black;
}

#heart{
    display:inline-block;
    color: #fcd2db;   
}

.dropbtn {
    color: rosybrown;
    background-color: mistyrose;
    padding: 16px;
    font-size: 16px;
    border: solid 1px gray;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: mistyrose;
}

#myInput {
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
}

#myInput:focus {outline: 3px solid #ddd;}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd}

.show {display:block;}

ul{
    text-align: center;
}

li{
    display: inline-block;
}

#instagram_logo{
    width:35px;
    height: 35px;
    position:fixed;
    right: 4%;
}

#twitter_logo{
    width:35px;
    height: 35px;
    position:fixed;
    right: 1%;
}

#products{
    display:inline-block;
    padding: 10px;
    width: 300px;
    height: 300px;
    vertical-align: top;
    border: solid 1px;
    margin-top: 5px;  
    overflow: hidden;
}

.text{
    text-align: center;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

#aboutme {

    background-color: #f1f1f1;

}

#me {

    height: 40%;
    width: 40%;
}
